<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="yukihane.dq10don"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:name=".Application"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_formal_name"
    android:theme="@style/AppTheme">
    <activity
      android:name=".tobatsu.view.MainActivity"
      android:label="@string/app_name">
      <!--
      本来はこのintent-filterのlabelがラウンチャー(ホーム)にアプリ名として表示されるはずだが
      API Level21以降は不具合で activity の label がアプリ名として表示される。
      そのため、activity と intent-filterのlabelは同じものにしておくのが無難
      https://code.google.com/p/android/issues/detail?id=179153
       -->
      <intent-filter android:label="@string/app_name">
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:name=".login.view.LoginActivity"
      android:label="@string/title_activity_login"
      android:parentActivityName=".sqexid.view.SqexidActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".sqexid.view.SqexidActivity"/>
    </activity>
    <activity
      android:name=".sqexid.view.SqexidActivity"
      android:label="@string/title_activity_sqexid"
      android:parentActivityName=".tobatsu.view.MainActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".tobatsu.view.MainActivity"/>
    </activity>

    <receiver android:name=".background.Alarm"></receiver>
    <receiver
      android:name=".background.AutoSetReceiver"
      android:enabled="false">
      <intent-filter>
        <!-- http://andante.in/i/android%E3%82%A2%E3%83%97%E3%83%AAtips/alarmmanager%E3%82%92%E4%BD%BF%E3%81%86%E5%A0%B4%E5%90%88%E3%81%AE%E6%B3%A8%E6%84%8F%E7%82%B9/ -->
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
        <!-- 時刻を直接指定して実行するので時間変更系は気にしなくても良いはず
              <action android:name="android.intent.action.DATE_CHANGED"/>
              <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
              <action android:name="android.intent.action.TIME_SET"/>
        -->
      </intent-filter>
      <intent-filter>
        <!--
        参考: https://chris.orr.me.uk/android-ssp-data-intent-filter/
        sspはAndroid4.4からみたいなのでちゃんと動作するか検証が必要
        -->
        <data
          android:scheme="package"
          android:ssp="yukihane.dq10don"/>
        <action android:name="android.intent.action.PACKAGE_REPLACED"/>
      </intent-filter>
    </receiver>

    <service android:name=".background.RoundService"/>
  </application>

</manifest>
